/*navbar part*/
.navbar {
  padding: 0px 50px;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar .navbarUl .dropdown {
  height: 100px;
  display: flex;
  align-items: center;
  position: static;
}
.navbar .navbarUl .dropdown .nav_link {
  margin: 0 20px;
  height: auto;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 24px;
  overflow: hidden;
}
.navbar .navbarUl .dropdown .nav_link .span_a {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 20px 0 #FF9776;
  transition: transform 0.4s ease;
}
.navbar .navbarUl .dropdown .nav_link .a1 {
  transition-delay: 0.05s;
}
.navbar .navbarUl .dropdown .nav_link .a2 {
  transition-delay: 0.1s;
}
.navbar .navbarUl .dropdown .nav_link .a3 {
  transition-delay: 0.15s;
}
.navbar .navbarUl .dropdown .nav_link .a4 {
  transition-delay: 0.2s;
}
.navbar .navbarUl .dropdown .nav_link .a5 {
  transition-delay: 0.25s;
}
.navbar .navbarUl .dropdown .nav_link .a6 {
  transition-delay: 0.3s;
}
.navbar .navbarUl .dropdown .nav_link .a7 {
  transition-delay: 0.35s;
}
.navbar .navbarUl .dropdown .nav_link .a8 {
  transition-delay: 0.4s;
}
.navbar .navbarUl .dropdown .nav_link .a9 {
  transition-delay: 0.45s;
}
.navbar .navbarUl .dropdown .nav_link .a10 {
  transition-delay: 0.6s;
}
.navbar .navbarUl .dropdown .nav_link .a11 {
  transition-delay: 0.65s;
}
.navbar .navbarUl .dropdown .nav_link .a12 {
  transition-delay: 0.7s;
}
.navbar .navbarUl .dropdown .nav_link:hover .span_a {
  transform: translateY(-75%);
}
.navbar .navbarUl .dropdown .nav_link i {
  color: #fff;
  margin-left: 6px;
  transition: all linear 0.3s;
}
.navbar .navbarUl .dropdown:hover .dropdown-dv {
  opacity: 1;
  visibility: visible;
}
.navbar .navbarUl .dropdown:hover .nav_link .span_a {
  transform: translateY(-75%);
}
.navbar .navbarUl .dropdown:hover .nav_link i {
  transform: translateY(7px);
  color: #FF9776;
}
.navbar .navbarUl .dropdown .dropdown-dv {
  width: 90%;
  padding: 50px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  visibility: hidden;
}
.navbar .navbarUl .dropdown .dropdown-dv ul {
  width: 25%;
}
.navbar .navbarUl .dropdown .dropdown-dv ul h5 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  color: #121212;
  padding-bottom: 20px;
}
.navbar .navbarUl .dropdown .dropdown-dv ul li {
  display: block;
}
.navbar .navbarUl .dropdown .dropdown-dv ul li .dropdown-a {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.02rem;
  display: inline-block;
  margin-bottom: 20px;
  text-transform: capitalize;
  transition: all linear 0.3s;
}
.navbar .navbarUl .dropdown .dropdown-dv ul li .dropdown-a:hover {
  letter-spacing: 1.5px;
}
.navbar .navbarUl .dropdown .dp2 {
  width: 100%;
}
.navbar .navbarUl .drop2 {
  position: relative;
}
.navbar .navbarUl .drop2 .d_menu {
  position: absolute;
  left: 70%;
  top: 90%;
  width: 150%;
  display: block;
  padding-left: 0;
  background: #000;
}
.navbar .navbarUl .drop2 .d_menu ul {
  width: 100%;
}
.navbar .navbarUl .drop2 .d_menu ul li .dropdown-a {
  color: #fff;
}
.navbar .navbtn {
  display: inline-block;
}
.navbar .navbtn a .cmnBtn {
  padding: 10px 25px;
  min-width: 130px;
  border-radius: 58px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FF9776;
  transition: all linear 0.3s;
  overflow: hidden;
  position: relative;
  mix-blend-mode: exclusion;
}
.navbar .navbtn a .cmnBtn::after {
  display: block;
  width: 0%;
  height: 0%;
  border-radius: 58px;
  background: #FF9776;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.3s;
  z-index: -1;
}
.navbar .navbtn a .cmnBtn:hover {
  background: transparent;
  color: #fff;
  z-index: 1;
}
.navbar .navbtn a .cmnBtn:hover::after {
  width: 100%;
  height: 100%;
  background: #FF9776;
}

/*banner part*/
#banner {
  background: url(../images/hero-bg.jpg) no-repeat center/cover;
  padding-top: 200px;
}
#banner .bannerHeading {
  width: 950px;
  margin: 0 auto;
  text-align: center;
}
#banner .bannerHeading h1 {
  color: #fff;
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  padding-bottom: 20px;
}
#banner .bannerHeading h1 .animationview {
  display: inline-block;
  height: 70px;
  margin-bottom: -18px;
  overflow-y: hidden;
}
#banner .bannerHeading h1 .animationview .website_ul {
  display: block;
  height: auto;
  text-align: left;
  padding-left: 0;
  margin-top: -12px;
  animation: don 40s cubic-bezier(0.02, 1, 0.02, 1) infinite;
  background-repeat: repeat-y;
}
#banner .bannerHeading h1 .animationview .website_ul .website_items {
  display: block;
  margin-top: 4px;
  color: #FF9776;
}
@keyframes don {
  0% {
    transform: translateY(0%);
  }
  5% {
    transform: translateY(-5%);
  }
  10% {
    transform: translateY(-10%);
  }
  15% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(-20%);
  }
  25% {
    transform: translateY(-25%);
  }
  30% {
    transform: translateY(-30%);
  }
  35% {
    transform: translateY(-35%);
  }
  40% {
    transform: translateY(-40%);
  }
  45% {
    transform: translateY(-45%);
  }
  50% {
    transform: translateY(-50%);
  }
  55% {
    transform: translateY(-55%);
  }
  60% {
    transform: translateY(-60%);
  }
  65% {
    transform: translateY(-65%);
  }
  70% {
    transform: translateY(-70%);
  }
  75% {
    transform: translateY(-75%);
  }
  80% {
    transform: translateY(-80%);
  }
  85% {
    transform: translateY(-85%);
  }
  90% {
    transform: translateY(-90%);
  }
  95% {
    transform: translateY(-95%);
  }
  100% {
    transform: translateY(-100%);
  }
}
#banner .bannerHeading h4 {
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}
#banner .bannerHeading h4 .pink {
  color: #FF9776;
}
#banner .bannerHeading h4 .rtl {
  display: inline-block;
  padding: 3px 15px;
  background: #FF9776;
  border-radius: 0 20px 0 20px;
  color: #000;
  margin: 0;
}
#banner .bannerHeading p {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}
#banner .banIMG {
  display: flex;
  gap: 3%;
  align-items: flex-end;
  position: relative;
  padding-top: 100px;
}
#banner .banIMG .bigImg {
  width: 85%;
  padding-left: 10%;
  position: relative;
}
#banner .banIMG .bigImg img {
  width: 100%;
}
#banner .banIMG .bigImg .absolute_Img {
  position: absolute;
  left: 0;
  bottom: 0;
}
#banner .banIMG .mobImg {
  width: 15%;
}
#banner .banIMG .mobImg img {
  width: 100%;
}
#banner .banIMG .envatoImg {
  position: absolute;
  right: 1%;
  top: 15%;
  width: 12%;
  animation: xpand 2s linear alternate infinite;
  animation-delay: 0ms;
}
#banner .banIMG .envatoImg img {
  width: 100%;
}
#banner .banIMG .arrow {
  left: 0;
  top: 17%;
  position: absolute;
  width: 10%;
  animation: xpand 2s linear alternate-reverse infinite;
  animation: shew 2s alternate infinite;
}
#banner .banIMG .arrow img {
  width: 100%;
}
@keyframes shew {
  0% {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(35px);
  }
}
@keyframes xpand {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(110%);
  }
}

#demos .allDemo {
  background: #212529;
  display: block;
  padding-top: 120px;
  text-align: center;
}
#demos .allDemo .demoHeading {
  text-align: center;
}
#demos .allDemo .demoHeading h5 {
  font-size: 18px;
  height: auto;
  color: #999;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  padding-left: 55px;
  margin-bottom: 18px;
  display: inline-block;
  text-transform: capitalize;
  font-family: "euclid_Circular_B";
}
#demos .allDemo .demoHeading h5::after {
  display: inline-block;
  position: absolute;
  content: "";
  left: 0%;
  top: 50%;
  width: 50px;
  height: 1px;
  background: #999999;
}
#demos .allDemo .demoHeading h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  color: #fff;
  padding-bottom: 20px;
}
#demos .allDemo .demoHeading p {
  color: #e1e1e1;
  max-width: 780px;
  margin: 10px auto;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}
#demos .allDemo .demo .demoImg {
  position: relative;
  margin-top: 24px;
}
#demos .allDemo .demo .demoImg .imgtitle {
  padding: 20px;
  background: #222222;
}
#demos .allDemo .demo .demoImg .imgtitle h3 {
  transition: all 0.5s;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  transition: all 0.5s;
}
#demos .allDemo .demo .demoImg .imgtitle h3 a {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  padding-top: 20px;
}
#demos .allDemo .demo .demoImg .imgtitle h3::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 0%;
  height: 1px;
  background: #FF9776;
  transition: all linear 0.3s;
}
#demos .allDemo .demo .demoImg .imgtitle h3:hover::after {
  width: 100%;
}
#demos .allDemo .demo .demoImg .imgtitle h6 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}
#demos .allDemo .demo .demoImg .typeLayer {
  position: absolute;
  right: 5%;
  top: 3%;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #FF9776;
  border-radius: 20px;
  padding: 2px 20px;
}
#demos .allDemo .demo .demoBtn {
  margin-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
#demos .allDemo .demo .demoBtn a {
  display: inline-block;
  padding: 15px 30px;
  min-width: 130px;
  border: 1px solid #FF9776;
  border-radius: 58px;
  font-weight: 500;
  font-size: 16px;
  color: #FF9776;
  line-height: 1.2;
  transition: all linear 0.3s;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}
#demos .allDemo .demo .demoBtn a::after {
  display: block;
  width: 0%;
  height: 0%;
  border-radius: 58px;
  background: #FF9776;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.3s;
  z-index: -1;
}
#demos .allDemo .demo .demoBtn a:hover {
  background: transparent;
  color: #fff;
  z-index: 1;
}
#demos .allDemo .demo .demoBtn a:hover::after {
  width: 100%;
  height: 100%;
  background: #FF9776;
}

#Service {
  background: #1B1B1B;
  padding-top: 100px;
}
#Service .colLeft {
  border-right: 1px solid rgba(62, 62, 62, 0.4666666667);
  border-left: 1px solid rgba(62, 62, 62, 0.4666666667);
}
#Service .colLeft .serviceHeading {
  padding: 120px 0;
}
#Service .colLeft .serviceHeading h5 {
  font-size: 18px;
  height: auto;
  color: #999;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  padding-left: 55px;
  margin-bottom: 18px;
  display: inline-block;
  text-transform: capitalize;
  font-family: "euclid_Circular_B";
  width: 70%;
}
#Service .colLeft .serviceHeading h5::after {
  display: inline-block;
  position: absolute;
  content: "";
  left: 0%;
  top: 50%;
  width: 50px;
  height: 1px;
  background: #999999;
}
#Service .colLeft .serviceHeading h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  color: #fff;
  padding-bottom: 20px;
  width: 70%;
}
#Service .colLeft .serviceHeading p {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
  width: 70%;
}
#Service .colLeft .Big50 {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 200px;
  font-weight: 600;
}
#Service .colLeft .Big50 i {
  font-size: 150px;
  margin-left: 5px;
}
#Service .colRight {
  border-right: 1px solid rgba(62, 62, 62, 0.4666666667);
}
#Service .colRight .serviceImg {
  padding: 80px 0;
  display: block;
  position: relative;
  text-align: right;
}
#Service .colRight .serviceImg .layout_1 {
  width: 70%;
  margin-bottom: 20px;
}
#Service .colRight .serviceImg .layout_2 {
  width: 50%;
}
#Service .colRight .serviceImg .layout_3 {
  display: block;
  width: 35%;
  position: absolute;
  left: 5%;
  top: 26%;
  z-index: 4;
}
#Service .colRight .serviceImg .layout_4 {
  display: block;
  width: 30%;
  position: absolute;
  right: 10%;
  top: 47%;
}
#Service .colRight .serviceImg .layout_5 {
  display: block;
  width: 25%;
  position: absolute;
  left: 23%;
  top: 65%;
}
#Service .colRight .essential_elements {
  text-align: right;
}
#Service .colRight .essential_elements h2 {
  display: inline-block;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  color: #fff;
  padding-bottom: 20px;
  width: 60%;
}
#Service .colRight .essential_elements p {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
  width: 60%;
}

#feature {
  padding: 130px 0;
}
#feature .feature_heading {
  position: relative;
  padding-bottom: 30px;
}
#feature .feature_heading h5 {
  font-size: 18px;
  height: auto;
  color: #999;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  padding-left: 55px;
  margin-bottom: 18px;
  display: inline-block;
  text-transform: capitalize;
  font-family: "euclid_Circular_B";
}
#feature .feature_heading h5::after {
  display: inline-block;
  position: absolute;
  content: "";
  left: 0%;
  top: 50%;
  width: 50px;
  height: 1px;
  background: #999999;
}
#feature .feature_heading h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  color: #fff;
  padding-bottom: 20px;
  color: #000;
}
#feature .feature_heading p {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}
#feature .feature_heading .techArro {
  width: 40%;
  position: absolute;
  right: 5%;
  top: 100%;
  animation: toright 3s alternate-reverse infinite;
}
@keyframes toright {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20%);
  }
}
#feature .widget {
  width: 100%;
  margin-bottom: 24px;
  padding: 20px 0;
  background: #fff;
  transition: all linear 0.3s;
  border-radius: 10px;
  cursor: pointer;
}
#feature .widget img {
  width: 30%;
  display: block;
  margin: 0 auto;
}
#feature .widget .widgetTxt {
  text-transform: capitalize;
  color: #000;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
#feature .widget:hover {
  box-shadow: 0 0 10px 10px #ebebeb;
}

#hurry {
  background: #000;
  padding: 120px 0;
}
#hurry .hurryTitle {
  text-align: center;
}
#hurry .hurryTitle .hurrytext {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  display: block;
}
#hurry .hurryTitle .addtext {
  font-size: 130px;
  font-weight: 500;
  color: #fff;
  line-height: 0.95;
  padding-bottom: 35px;
  max-width: 1040px;
  margin: 0 auto;
  display: block;
}
#hurry .hurryTitle p {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}
#hurry .hurryTitle .hurrybtn {
  margin: 20px 0;
}
#hurry .hurryTitle .hurrybtn a {
  display: inline-block;
  padding: 15px 30px;
  min-width: 130px;
  border: 1px solid #FF9776;
  border-radius: 58px;
  font-weight: 500;
  font-size: 16px;
  color: #FF9776;
  line-height: 1.2;
  transition: all linear 0.3s;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}
#hurry .hurryTitle .hurrybtn a::after {
  display: block;
  width: 0%;
  height: 0%;
  border-radius: 58px;
  background: #FF9776;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.3s;
  z-index: -1;
}
#hurry .hurryTitle .hurrybtn a:hover {
  background: transparent;
  color: #fff;
  z-index: 1;
}
#hurry .hurryTitle .hurrybtn a:hover::after {
  width: 100%;
  height: 100%;
  background: #FF9776;
}

#shope {
  padding-top: 150px;
}
#shope .shop_category .soptitle {
  padding-left: 0;
  margin-bottom: 0;
}
#shope .shop_category .soptitle .attribute {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding-right: 10px;
}
#shope .shop_category .soptitle .sopbtn select {
  text-transform: capitalize;
  padding: 5px 15px;
  border-radius: 20px;
  background: #999999;
  color: #fff;
  cursor: pointer;
}
#shope .shop_category .soptitle .sopbtn select option {
  color: #fff;
}
#shope .shop_category .soptitle .sopbtn select::after {
  display: none;
}
#shope .shop_category .soptitle .sopbtn select::before {
  display: none;
}
#shope .shop_category .soptitle .sopbtn select:hover {
  background: #000;
}
#shope .shop_category .soptitle .sopLI {
  text-transform: capitalize;
  padding: 5px 15px;
  border-radius: 20px;
  background: #999999;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}
#shope .shop_category .soptitle .sopLI:hover {
  background: #000;
}
#shope .shop_category .soptitle .sopLI.active {
  background: #000;
}
#shope .shop_category input {
  width: 70%;
  padding: 7px 20px;
  border-radius: 20px;
  border: 1px solid #999999;
  background: #e7f9ff;
}
#shope .shop_gallery {
  padding: 20px 0;
}
#shope .shop_gallery .shop_item {
  position: relative;
  overflow: hidden;
  margin-top: 24px;
}
#shope .shop_gallery .shop_item .sopimg {
  position: relative;
  overflow: hidden;
}
#shope .shop_gallery .shop_item .sopimg a {
  display: flex;
}
#shope .shop_gallery .shop_item .sopimg a img:nth-child(1) {
  opacity: 1;
  visibility: visible;
  transition: all linear 0.3s;
  background-size: cover;
  filter: blur(0px);
}
#shope .shop_gallery .shop_item .sopimg a img:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
  background-size: cover;
  margin-right: -100%;
  transform: scaleX(3);
  filter: blur(10px);
}
#shope .shop_gallery .shop_item .sopimg a:hover img:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  margin-left: -100%;
  transform: scaleX(3);
  filter: blur(10px);
}
#shope .shop_gallery .shop_item .sopimg a:hover img:nth-child(2) {
  opacity: 1;
  visibility: visible;
  margin-right: 0%;
  transform: scaleX(1);
  filter: blur(0px);
}
#shope .shop_gallery .shop_item .sopimg:hover .dressTitle_layer {
  bottom: 0;
}
#shope .shop_gallery .shop_item .sopimg .dressTitle_layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -20%;
  right: 0;
  transition: all linear 0.6s;
}
#shope .shop_gallery .shop_item .sopimg .dressTitle_layer span {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding: 15px 30px;
}
#shope .shop_gallery .shop_item .sopimg .dressTitle_layer span a {
  color: #fff;
  position: relative;
}
#shope .shop_gallery .shop_item .sopimg .dressTitle_layer span a::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  content: "+";
  font-size: 20px;
  font-family: font awesome 6 free;
}
#shope .shop_gallery .shop_item .sopimg .dressTitle_layer i {
  font-size: 40px;
  color: #FF9776;
  padding: 15px 10px;
  border: 1px solid #000;
  background: #fff;
}
#shope .shop_gallery .shop_item .spptxt {
  padding: 10px;
  background: #fafafa;
}
#shope .shop_gallery .shop_item .spptxt h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  transition: all 0.3s;
}
#shope .shop_gallery .shop_item .spptxt .sopprice .recent_price {
  margin-right: 30px;
}
#shope .shop_gallery .shop_item .spptxt .sopprice .previous_price {
  color: #999999;
}
#shope .shop_gallery .shop_item .dressType_layer {
  padding: 3px 10px;
  font-size: 12px;
  color: #999999;
  background: rgba(250, 250, 250, 0.7137254902);
  position: absolute;
  right: 5%;
  top: 3%;
  display: grid;
  place-items: center;
  border-radius: 5px;
}
#shope .shop_gallery .shop_item .dressType_layer h6 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Kanit", sans-serif;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

h1, h2, h4 {
  font-family: "Kanit", sans-serif;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
}

html, body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */