@import "../variable/variable";
@import "../mixins/mixin";
#shope{
    padding-top: 150px;
    .shop_category{
        .soptitle{
            padding-left: 0;
            margin-bottom: 0;
            .attribute{
                text-transform: capitalize;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                padding-right: 10px;
            }
            .sopbtn{

                select{
                    text-transform: capitalize;
                    padding: 5px 15px;
                    border-radius: 20px;
                    background: $p_999;
                    color:$white;
                    cursor: pointer;
                    option{
                        color:$white;
                    }
                    &::after{
                        display: none;
                    }
                    &::before{
                        display: none;
                    }
                    &:hover{
                        background: $dark000;
                    }
                }
            }
            .sopLI{
                text-transform: capitalize;
                padding: 5px 15px;
                border-radius: 20px;
                background: $p_999;
                color:$white;
                margin-left: 20px;
                cursor: pointer;
                &:hover{
                    background: $dark000;
                }
            }
            .sopLI.active{
                background: $dark000;
            }
        }
        input{
            width: 70%;
            padding: 7px 20px;
            border-radius: 20px;
            border: 1px solid $p_999;
            background: $col_c6eaf7;
        }
    }
    .shop_gallery{
        padding: 20px 0;
        .shop_item{
            position: relative;
            overflow: hidden;
            margin-top: 24px;
            .sopimg{
                position: relative;
                overflow: hidden;
                a{
                    display: flex;
                    img:nth-child(1){
                        opacity: 1;
                        visibility: visible;
                        transition: all linear .3s;
                        background-size: cover;
                        filter: blur(0px);
                    }
                    img:nth-child(2){
                        opacity: 0;
                        visibility: hidden;
                        transition: all linear .3s;
                        background-size: cover;
                        margin-right: -100%;
                        transform: scaleX(3);
                        filter: blur(10px);
    
                    }
                    &:hover{
                        img:nth-child(1){
                            opacity: 0;
                            visibility: hidden;
                            margin-left: -100%;
                            transform: scaleX(3);
                            filter: blur(10px);
                        }
                        img:nth-child(2){
                            opacity: 1;
                            visibility: visible;
                            margin-right: 0%;
                            transform: scaleX(1);
                            filter: blur(0px);
                        }
                    }
                }
                &:hover{
                    .dressTitle_layer{
                        bottom: 0;
                    }
                }
                .dressTitle_layer{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: $dark000;
                    position: absolute;
                    left: 0;
                    bottom: -20%;
                    right: 0;
                    transition: all linear .6s;
                    span{
                        text-transform: capitalize;
                        font-size: 22px;
                        font-weight: 500;
                        color:$white;
                        padding: 15px 30px;
                        a{
                            color:$white;
                            position: relative;
                            &::before{
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: -20px;
                                content: "\2b";
                                font-size: 20px;
                                font-family: fontawesome 6.4.0 free;
                            }
                        }
                    }
                    i{
                        font-size: 40px;
                        color:$pink;
                        padding: 15px 10px;
                        border: 1px solid $dark000;
                        background: $white;
                    }
                }
            }
            .spptxt{
                padding: 10px;
                background: #fafafa;
                h3{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                    transition: all 0.3s;
                }
                .sopprice{
                    .recent_price{
                        margin-right: 30px;
                    }
                    .previous_price{
                        color:$p_999;
                    }
                }
            }
            .dressType_layer{
                padding: 3px 10px;
                font-size: 12px;
                color:$p_999;
                background: $w_fafafa;
                position: absolute;
                right: 5%;
                top: 3%;
                display: grid;
                place-items: center;
                border-radius: 5px;
                h6{
                    margin-bottom: 0;
                    text-transform: capitalize;
                    font-weight: 400;
                }
            }
        }
    }
}