@import "../variable/variable";
@import "../mixins/mixin";
/*navbar part*/
.navbar{
    padding: 0px 50px;
    background: $dark000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    .navbarUl{
        .dropdown{
            height: 100px;
            display: flex;
            align-items: center;
            position: static;
            .nav_link{
                margin: 0 20px;
                height: auto;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                height: 24px;
                overflow: hidden;
                .span_a{
                    text-transform: capitalize;
                    font-size: 18px;
                    font-weight: 500;
                    color:$white;
                    text-shadow: 0 20px 0 $pink;
                    transition: transform 0.4s ease;
                }
                .a1{
                    transition-delay: .05s;
                }
                .a2{
                    transition-delay: .1s;
                }
                .a3{
                    transition-delay: .15s;
                }
                .a4{
                    transition-delay: .2s;
                }
                .a5{
                    transition-delay: .25s;
                }
                .a6{
                    transition-delay: .3s;
                }
                .a7{
                    transition-delay: .35s;
                }
                .a8{
                    transition-delay: .4s;
                }
                .a9{
                    transition-delay: .45s;
                }
                .a10{
                    transition-delay: .6s;
                }
                .a11{
                    transition-delay: .65s;
                }
                .a12{
                    transition-delay: .7s;
                }
                &:hover .span_a{
                    transform: translateY(-75%);
                }
                i{
                    color:$white;
                    margin-left: 6px;
                    transition: all linear .3s;
                }
            }
            &:hover{
                .dropdown-dv{
                    opacity: 1;
                    visibility: visible;
                }
                .nav_link{
                    .span_a{
                        transform: translateY(-75%);
                        
                    }
                    i{
                        transform: translateY(7px);
                        color:$pink;
                    }
                }
            }
            .dropdown-dv{
                width: 90%;
                padding: 50px;
                background: $white;
                position: absolute;
                left: 50%;
                top: 90%;
                transform: translateX(-50%);
                display: flex;
                justify-content: space-evenly;
                opacity: 0;
                visibility: hidden;
                ul{
                    width: 25%;
                    h5{
                        text-transform: capitalize;
                        font-size: 20px;
                        font-weight: 600;
                        color: #121212;
                        padding-bottom: 20px;
                    }
                    li{
                        display: block;
                        .dropdown-a{
                            font-weight: 400;
                            font-size: 16px;
                            color:$dark000;
                            letter-spacing: .02rem;
                            display: inline-block;
                            margin-bottom: 20px;
                            text-transform: capitalize;
                            transition: all linear .3s;
                            &:hover{
                                letter-spacing: 1.5px;
                            }
                        }
                    }
                }
            }
            .dp2{
                width: 100%;
            }
        }
        .drop2{
            position: relative;
            .d_menu{
                position: absolute;
                left: 70%;
                top: 90%;
                width: 150%;
                display: block;
                padding-left: 0;
                background: $dark000;
                ul{
                    width: 100%;
                    li{
                        .dropdown-a{
                            color:$white;
                        }
                    }
                }
            }
        }
    }
    .navbtn{
        display: inline-block;
        a{
            @include CcmnBtn;
        }
    }
}