*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:none;
    outline: none;
    font-family: 'Kanit', sans-serif;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
h1,h2,h4{
    font-family: 'Kanit', sans-serif;
}
p{
    margin: 0;
}
img{
    vertical-align: middle;
}
html,body{
    overflow-x: hidden;
}
// Topper indicatoe--------
